{% extends 'basic_app/base.html' %}
{% block body_block %}
<div class="container">
        
        <h1><a href='{% url 'basic_app:user_login' %}'>Login Here</a></h1>
        {% if registered %}
            <h1>Thank you :)</h1>
        
        {% else %}
            <h1>Register here!</h1>
            <h3>Fill out the form</h3>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form.as_p}}
                {{profile_form.as_p}}
                <input type='submit' name='' value="Register">
            </form>
        {% endif %}
</div>
{% endblock body_block %}
   